<div class="row">
  <div class="col-sm-6">
    <h1>Stops</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_stop_path, class: 'btn btn-primary' do %>
      Add New Stop
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Trip</th>
        <th>Position</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Arrival date</th>
        <th>Notes</th>

        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @stops.each do |stop| %>
        <%= content_tag :tr, id: dom_id(stop), class: dom_class(stop) do %>
          <td><%= stop.trip %></td>
          <td><%= stop.position %></td>
          <td><%= stop.address %></td>
          <td><%= stop.latitude %></td>
          <td><%= stop.longitude %></td>
          <td><%= stop.arrival_date %></td>
          <td><%= stop.notes %></td>

          <td><%= link_to 'Show', stop %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
